In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
from sklearn.cluster import KMeans


style.use('ggplot')


def handle_non_numerical_data(data_frame):
    columns = data_frame.columns.values
    
    for column in columns:
        text_digit_values = {}
        
        if data_frame[column].dtype != np.int64 and data_frame[column].dtype != np.float64:
            x = 0
            column_contents = data_frame[column].values.tolist()
            unique_elements = set(column_contents)
            
            for element in unique_elements:
                if element not in text_digit_values:
                    text_digit_values[element] = x
                    x += 1
        
            data_frame[column] = list(map(lambda val: text_digit_values[val], data_frame[column]))
    
    return data_frame


data_frame = pd.read_excel('../data_sets/titanic.xls')
data_frame.drop(['name', 'body'], 1, inplace=True)
data_frame.convert_objects(convert_numeric=True)
data_frame.fillna(0, inplace=True)

data_frame = handle_non_numerical_data(data_frame)
print(data_frame.head())

   pclass  survived  sex      age  sibsp  parch  ticket      fare  cabin  \
0       1         1    0  29.0000      0      0     762  211.3375     68
1       1         1    1   0.9167      1      2     538  151.5500     70
2       1         0    0   2.0000      1      2     538  151.5500     70
3       1         0    1  30.0000      1      2     538  151.5500     70
4       1         0    0  25.0000      1      2     538  151.5500     70

   embarked  boat  home.dest
0         3     2         19
1         3    13        222
2         3     0        222
3         3     0        222
4         3     0        222

c:\users\cafe petinho\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:34: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.